<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Hospital Management</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"><!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script><!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>
        form { border="3px solid #f1f1f1":}
    </style>
</head>
<body>

<center>
<div class="container">
<h3>Welcome to Hospital Management App</h3>

<form method="get" action="/register_patient">
    <div class="form-container">
        <button type="submit" style="margin:5px;"> Register </button>
    </div>
</form>

<form method="get" action="/getAllPatients">
     <div class="form-container">
        <button type="submit" style="margin:5px;"> Patients List </button>
     </div>
</form>

<form method="get" action="/getPatient">
     <div class="form-container">
        <button type="submit" style="margin:5px;"> Patient by Id </button>
     </div>
</form>

<form method="get" action="/register_medicine">
     <div class="form-container">
        <button type="submit" style="margin:5px;"> Medicines </button>
     </div>
</form>
</div>
</center>
</body>
</html>